*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    position: relative;
    width: 400px;
    height: 555px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 20px;
    color: #000000;
}

.search-box {
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;

}

.search-box i {
    position: absolute;
    left: 10px;
    font-size: 28px;
}
.search-box .bx-location-icon{
    width: 45px;
}
.search-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
}

.search-box input::placeholder {
    color: #000000;
    text-transform: capitalize;
}

.gif-icon {
    width: 45px;
  padding: 3px;

}

.search-box button {
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    color: #000000;
    padding: 0 40px 0 5px;
    cursor: pointer;
}

#suggestions {
    position: absolute;
    top: 55px; /* Position below the input field */
    left: 0;
    width: 100%;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    border-top: none; /* Hide top border */
    border-radius: 0 0 10px 10px; /* Rounded corners at the bottom */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it's above other content */
    display: none; /* Initially hidden */
}

#suggestions li {
    list-style-type: none;
    padding: 10px 20px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #f1f1f1;
}
.weather-box{
    text-align: center;
    margin: 40px 0;
}
.weather-box img {
    width: 60%;
}

.weather-box .temperature {
    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    margin: 20px 0 6px -30px;
}

.weather-box .temperature span {
    position: absolute;
    font-size: 24px;
    margin-left: 4;

}

.weather-box .description {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}

.weather-details .humidity,
.weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
}
.weather-details .humidity {
    padding-left: 20px;
    justify-content: flex-start;
}
.weather-details .wind {
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i {
    font-size: 56px;
    margin-right: 10px;
}
.weather-details .bx-water-video {
width: 80px;
}
.weather-details .bx-wind-video{
    width: 80px;
    }


.weather-details span {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p {
    font-size: 14px;
    font-weight: 500;
}